.beer-form {
  background-color: white;
  width: 50%;
  height: auto;
  margin: 10px auto;
  border: 2px solid #222;
}

.form-title {
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
}

.error-msg {
  color: red;
  margin: 7px;
}

label {
  display: block;
  font-size: 17px;
}

form input {
  margin: 10px;
  height: 17px;
  outline: none;
  border: 1px solid #222;
}

.submit-button {
  outline: none;
  border: none;
  background-color: #222;
  color: white;
  font-size: 12px;
  padding: 10px;
  font-weight:lighter;
  width: auto;
  height: auto;
}

@media screen and (max-width: 823px) {
    .beer-form {
        height: auto;
        width: 80%;
    }

    form input {
    }
}
